mixin photo(photo)
        div.photos
            a(href=`/photos/${photo.id}`)
                img(src="/"+photo.mainphotoUrl, width=400, height=500)
        
            h4 
                a(href=`/photos/${photo.id}`)=photo.title
            p=photo.description
            ul
                each hashtag in photo.hashtags
                    li=hashtag
            p=`$${photo.price}`
        