extends base.pug

block header 
    meta(http-equiv="X-UA-Compatible" content="IE-edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js")
block content 
    div.img_container
        img(src="/" + photo.bigphotoUrl)
    div.explain_container
        h1=photo.title
        h2=photo.description
        h2=`₩${photo.price}`
        if !user.buylist.find(function(data){ return data === photo.title}) 
            button(type="button" value="결제하기" onclick='requestPay()')
                |카드, 카카오페이, 네이버 페이로 결제하기
        else 
            p 이미 결제된 상품입니다.
            button(type="button" value="돌아가기" onclick="moveDownload()") 
                |다운로드
        br
        if isAdmin
            a(href=`${photo.id}/edit`) Edit Photo &rarr;
            br
            a(href=`${photo.id}/delete`) Delete Photo &rarr;
        script.
            function moveDownload() {
                location.href=`#{photo.id}/download`
            } 

            IMP.init('imp12311505');
            function requestPay() {
                IMP.request_pay({ 
                    pg: "inicis",
                    pay_method: "card",
                    merchant_uid: 'merchant_' + new Date().getTime(),
                    name: `#{photo.title}`,
                    amount: `#{photo.price}`, 
                    buyer_email: `#{user.email}`,
                    buyer_name: `#{user.name}`,
                    m_redirect_url : "http://localhost:4000/mobile/complete"
                }, function(rsp) {
                    if (rsp.success) { 
                        jQuery.ajax({
                            url: "http://localhost:4000/payments/complete", 
                            method: "POST",
                            headers: { "Accept": "application/json" },
                            data: {
                                imp_uid: rsp.imp_uid,
                                merchant_uid: rsp.merchant_uid,
                                name : `#{user.name}`,
                                username : `#{user.username}`,
                                useremail : `#{user.email}`,
                                title : `#{photo.title}`,
                                id:`#{photo.id}`
                            },
                            dataType: "json",
                        }).done(function (data) {
                            switch(data.status) {
                                    case "vbankIssued":
                                        break;
                                    case "success":
                                        console.log("결제에 성공했습니다.");
                                        break;
                            }
                        });
                    } else {
                        alert("결제에 실패하였습니다. 에러 내용: " +  rsp.error_msg);
                    }
                });
            }